<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>SPACE;bar schedule</title>
    <link rel="stylesheet" href="../../user/Schedule/list.css">
</head>
<body>
<div class="board_wrap">
    <div class="board_title">
        <h2>SPACE;bar schedule</h2>
        <p>스페이스바의 공식 스케줄을 알려드립니다.</p>
    </div>
    <div class="board_list_wrap">
        <div class="board_list">
            <div class="top">
                <div class="num">No</div>
                <div class="title">title</div>
                <div class="write">write</div>
                <div class="date">date</div>
                <div class="count">count</div>
            </div>
            <div>
                <div class="num">20</div>
                <div class="title"><a href="view.html">23년 4월 둘째주 스케줄</a></div>
                <div class="write">staff</div>
                <div class="date">2023.04.7</div>
                <div class="count">1,050</div>
            </div>
            <div>
                <div class="num">19</div>
                <div class="title"><a href="view.html">23년 4월 첫쨋주 스케줄</a></div>
                <div class="write">staff</div>
                <div class="date">2023.04.1</div>
                <div class="count">1,560</div>
            </div>

            <div class="board_page">
                <a href="#" class="bt-first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num on">2</a>
                <a href="#" class="num on">3</a>
                <a href="#" class="num on">4</a>
                <a href="#" class="num on">5</a>
                <a href="#" class="be next">></a>
                <a href="#" class="be last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="write.html" class="on">등록</a>
            </div>

        </div>

    </div>
</div>




</body>
</html>