<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>SPACE;bar schedule</title>
    <link rel="stylesheet" href="../../user/Schedule/list.css">
</head>
<body>
<div class="board_wrap">
    <div class="board_title">
        <strong>Schedule</strong>
    </div>
    <div class="board_view_wrap">
        <div class="board_view">
            <div class="title">
                글 제목이 들어갑니다.
            </div>
            <div class="info">
                <dl>
                    <dt>No</dt>
                    <dd>20</dd>
                </dl>
                <dl>
                    <dt>write</dt>
                    <dd>staff</dd>
                </dl>
                <dl>
                    <dt>date</dt>
                    <dd>2023.04.07</dd>
                </dl>
                <dl>
                    <dt>count</dt>
                    <dd>1,050</dd>
                </dl>
                <div class="cont">
                    2023.04.03 ~ 04.09 공식 스케줄 <br>
                </div>
            </div>
        </div>
        <div class="bt_wrap">
            <a href="list.html" class="on">목록</a>
            <a href="edit.html">수정</a>

        </div>

    </div>

</div>
</body>
</html>